# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Log files
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE/Editor folders
.vscode/
.idea/
